@using Lib.Tools.Utils;
@using Weblib.Models
@{
    Layout = "~/Views/Master/_Simplified.cshtml";
}
<div class="login-container">
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="clear-height"></div>
        <A href="@Lib.Tools.Utils.URLHelper.GetUrl("")"><img src="~/Images/simplified/login_logo.png" class="login-logo" /></A>
    <div class="login-body">
        <div class="login-form form-controls">
                @Html.Partial("../Controls/_textbox",((LoginModel)Model).Login)
                @Html.Partial("../Controls/_textbox",((LoginModel)Model).Password)  
                <div class="message-box"></div> 
                <a href="/ForgotPassword/" class="forgot_pswd">@SecurityCRM.Helpers.T.Str("ForgotPassword", "FrontEnd", "Password is not entered correctly")</a>
                <div class="login-actions">
                    <a href="#" onclick="return doLogin()" id="doLoginButton" class="login-btn button">
                        <div>@SecurityCRM.Helpers.T.Str("Enter", "FrontEnd", "Enter")</div>
                    </a>
                    <script>
                        $(document).keypress(function (e) {
                            if (e.which == 13) {
                                document.getElementById("doLoginButton").click();
                            }
                        });
                    </script>
                    <div class="clear"></div>
                </div>
        </div>
    </div>
    <div class="loading"> </div>
}
</div>