@using Lib.BusinessObjects
@if (((Dictionary<long, User>)ViewData["List"]).Count > 0)
{
    <script type="text/javascript">
        var gLatestDashboardId = @(((Dictionary<long, Lib.BusinessObjects.User>)ViewData["List"]).Values.First(i => i.Id>0).Id);
        var gDashboardItemsCount = @(((Dictionary<long, Lib.BusinessObjects.User>)ViewData["List"]).Count);
    </script>
    <form class="table-widget">
        <div class="dashboard-ico">
            <div class="outer-ico">
                <div class="widget-caption">
                    @Html.Raw(SecurityCRM.Helpers.T.Str("UserList", "DashBoard", "User List"))
                </div>
                <div class="data-grid-container">
                    <div class="data-grid">
                        <div class="data-grid-title-row">
                            <div class="data-grid-title">N</div>
                            <div class="data-grid-title">@Html.Raw(SecurityCRM.Helpers.T.Str("Login", "DashBoard", "Login"))</div>
                            <div class="data-grid-title">@Html.Raw(SecurityCRM.Helpers.T.Str("UserName", "DashBoard", "User Name"))</div>
                            <div class="data-grid-title">@Html.Raw(SecurityCRM.Helpers.T.Str("LastLogin", "DashBoard", "Last Login"))</div>
                            <div class="data-grid-title">@Html.Raw(SecurityCRM.Helpers.T.Str("DateCreated", "DashBoard", "Date Created"))</div>
                        </div>
                        @Html.Partial("Controls/_UsersRows")
                    </div>
                </div>
            </div>
        </div>
        <div class="clear" style="height:1px"></div>
    </form>
}