@using Lib.Tools.Utils;
@using Weblib.Models
@{
    Layout = "~/Views/Master/_Admin.cshtml";
    var BOProperties = (Lib.AdvancedProperties.BoAttribute)ViewData["BOProperties"];
    var BOType = (Type)ViewData["BOType"];
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        @(BOProperties.DisplayName)
        :
        @(((Lib.Tools.BO.ItemBase)Model).GetName())
        <small> @SecurityCRM.Helpers.T.Str("ControlPanel", "FrontEnd", "Control panel")</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Lib.Tools.Utils.URLHelper.GetUrl("ControlPanel/DashBoard/")"><i class="fa fa-dashboard"></i> @SecurityCRM.Helpers.T.Str("Dashboard", "FrontEnd", "Dashboard")</a></li>
        @if (((Lib.Tools.BO.ItemBase)ViewData["LinkItem"]) != null)
        {
            var BOPropertiesLinked = (Lib.AdvancedProperties.BoAttribute)ViewData["BOPropertiesLinked"];
            <li><a href="@Lib.Tools.Utils.URLHelper.GetUrl("ControlPanel/Edit/" + ViewData["BOLink"].ToString() + "/" + ViewData["NamespaceLink"].ToString())"><i class="fa fa-@(BOPropertiesLinked.Icon)"></i> @(BOPropertiesLinked.DisplayName)</a></li>
            <li><a href="@Lib.Tools.Utils.URLHelper.GetUrl("ControlPanel/EditItem/" + ViewData["BOLink"].ToString() + "/" + ViewData["NamespaceLink"].ToString() + "/" + ViewData["Id"].ToString())"><i class="fa fa-@(BOPropertiesLinked.Icon)"></i> @(((Lib.Tools.BO.ItemBase)ViewData["LinkItem"]).GetName())</a></li>
            <li><a href="@Lib.Tools.Utils.URLHelper.GetUrl("ControlPanel/Edit/" + BOType.Name + "/" + System.Net.WebUtility.UrlEncode(BOType.Namespace) + "/" + ViewData["BOLink"].ToString() + "/" + ViewData["NamespaceLink"].ToString() + "/" + ViewData["Id"])"><i class="fa fa-@(BOProperties.Icon)"></i> @(BOProperties.DisplayName)</a></li>
        }
        else
        {
            <li><a href="@Lib.Tools.Utils.URLHelper.GetUrl("ControlPanel/Edit/" + BOType.Name + "/" + System.Net.WebUtility.UrlEncode(BOType.Namespace))"><i class="fa fa-@(BOProperties.Icon)"></i> @(BOProperties.DisplayName)</a></li>
        }
        <li class="active">@(((Lib.Tools.BO.ItemBase)Model).GetName())</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="box data-item-container" data-id="@(((Lib.Tools.BO.ItemBase)Model).Id)" data-type="@(ViewData["Grid_Type"])">
        <div class="box-header with-border">
            <h3 class="box-title class-header"><a href="@(ViewData["Back_Link"])"><i class="fa fa-@(BOProperties.Icon)"></i> @(BOProperties.SingleName)</a></h3>

            <div class="btn-control-container btn-control-container-top">
                @if ((bool)ViewData["AllowCRUD"] && Lib.Tools.Security.Authentication.GetCurrentUser().HasAtLeastOnePermission(BOProperties.EditAccess))
                {
                    <button class="btn btn-info" onclick="edit_item()"><i class="fa fa-edit"></i> @SecurityCRM.Helpers.T.Str("Edit", "FrontEnd", "Edit")</button>
                    <div class="btn-group btn-save">
                        <button type="button" onclick="save_item(@(((Lib.Tools.BO.ItemBase)Model).Id))" class="btn btn-success"><i class="fa fa-save"></i> @SecurityCRM.Helpers.T.Str("Save", "FrontEnd", "Save")</button>
                        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#" onclick="return save_and_close_item(@(((Lib.Tools.BO.ItemBase)Model).Id),'@(ViewData["Back_Link"])')">@SecurityCRM.Helpers.T.Str("SaveClose", "FrontEnd", "Save and close")</a></li>
                    </div>
                }
                @if ((bool)ViewData["AllowCRUD"] && Lib.Tools.Security.Authentication.GetCurrentUser().HasAtLeastOnePermission(BOProperties.DeleteAccess))
                {
                    <button class="btn btn-danger" onclick="delete_item(@(((Lib.Tools.BO.ItemBase)Model).Id),'@(((Lib.Tools.BO.ItemBase)Model).GetName())','@(ViewData["Back_Link"])')"><i class="fa fa-trash-o"></i> @SecurityCRM.Helpers.T.Str("Delete", "FrontEnd", "Delete")</button>
                }
                @if ((bool)ViewData["AllowCRUD"] && BOProperties.AllowCopy && Lib.Tools.Security.Authentication.GetCurrentUser().HasAtLeastOnePermission(BOProperties.CopyAccess))
                {
                    <button class="btn btn-success" onclick="copy_item(@(((Lib.Tools.BO.ItemBase)Model).Id),'@(((Lib.Tools.BO.ItemBase)Model).GetName())')"><i class="fa fa-clone"></i> @SecurityCRM.Helpers.T.Str("Clone", "FrontEnd", "Clone")</button>
                }
                @if (Lib.Tools.Security.Authentication.GetCurrentUser().HasAtLeastOnePermission(BOProperties.PrintAccess))
                {
                    <button class="btn btn-default" onclick="print_item(@(((Lib.Tools.BO.ItemBase)Model).Id))"><i class="fa fa-print"></i> @SecurityCRM.Helpers.T.Str("Print", "FrontEnd", "Print")</button>
                }
                @if (Lib.Tools.Security.Authentication.GetCurrentUser().HasAtLeastOnePermission(BOProperties.ExportAccess))
                {
                    <div class="btn-group btn-export">
                        <button type="button" class="btn btn-primary"><i class="fa fa-download"></i> @SecurityCRM.Helpers.T.Str("Export", "FrontEnd", "Export")</button>
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a onclick="return export_excell_item(@(((Lib.Tools.BO.ItemBase)Model).Id))" href="#"><i class="fa fa-file-excel-o"></i> Excell</a></li>
                            <li><a onclick="return export_csv_item(@(((Lib.Tools.BO.ItemBase)Model).Id))" href="#"><i class="fa fa-file-text-o"></i> Csv</a></li>
                            @*<li><a href="#"><i class="fa fa-file-pdf-o"></i> Pdf</a></li>*@
                        </ul>
                    </div>
                }
                @if ((bool)ViewData["AllowCRUD"] && Lib.Tools.Security.Authentication.GetCurrentUser().HasAtLeastOnePermission(BOProperties.ImportAccess))
                {
                    <div class="btn-group btn-import">
                        <button type="button" class="btn btn-warning"><i class="fa fa-file-excel-o"></i> @SecurityCRM.Helpers.T.Str("Import", "FrontEnd", "Import")</button>
                        <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#"><i class="fa fa-file-excel-o"></i> Excell</a></li>
                            <li><a href="#"><i class="fa fa-file-text-o"></i> Csv</a></li>
                        </ul>
                    </div>
                }
                <div class="class-legend"><i class="fa fa-fw fa-asterisk req-field-indicator"></i> - @SecurityCRM.Helpers.T.Str("RequiredField", "FrontEnd", "required field")</div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="box-body no-padding">
            <table class="table table-striped">
                <tbody>
                    @foreach (string key in ((Dictionary<string, List<Lib.AdvancedProperties.AdvancedProperty>>)ViewData["Properties"]).Keys)
                    {
                        if (!string.IsNullOrEmpty(key))
                        {
                            @:<tr>
                                @:<td colspan="2" class="property-group">
                                    @(key)
                                @:</td>
                            @:</tr>
                        }
                        foreach (Lib.AdvancedProperties.AdvancedProperty property in ((Dictionary<string, List<Lib.AdvancedProperties.AdvancedProperty>>)ViewData["Properties"])[key])
                        {
                            @:<tr>
                                @:<td style="width:150px">
                                    @(property.Common.DisplayName)
                                    if (property.Validation != null && (property.Validation.ValidationType == Lib.AdvancedProperties.ValidationTypes.Required || property.Validation.ValidationType == Lib.AdvancedProperties.ValidationTypes.RegularExpressionRequired))
                                    {
                                        <i class="fa fa-fw fa-asterisk req-field-indicator"></i>
                                    }
                                    if (!string.IsNullOrEmpty(property.Common.PropertyDescription))
                                    {
                                        <div class="property-description">@(property.Common.PropertyDescription)</div>
                                    }
                                @:</td>
                                @:<td>
                                    object lControlModel=property.GetDataProcessor().SetValue(property.PropertyDescriptor.GetValue(Model), property, (Lib.Tools.BO.ItemBase)Model, false, Lib.AdvancedProperties.DisplayMode.Advanced);
                                    @Html.PartialAsync("../Controls/Generic/"+property.ControlView,lControlModel).Result 
                                @:</td>
                            @:</tr>
                        }
                    }
                    <tr>
                        <td style="width: 150px; ">
                            @SecurityCRM.Helpers.T.Str("DateCreated", "FrontEnd", "Date created"):
                        </td>
                        <td>
                            @(((Lib.Tools.BO.ItemBase)Model).DateCreated != DateTime.MinValue ? ((Lib.Tools.BO.ItemBase)Model).DateCreated.ToString("dd/MM/yyyy HH:mm") : DateTimeZone.Now.ToString("dd/MM/yyyy HH:mm"))
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 150px; ">
                            @SecurityCRM.Helpers.T.Str("Author", "FrontEnd", "Author"):
                        </td>
                        <td>
                            <a href="@Lib.Tools.Utils.URLHelper.GetUrl("ControlPanel/Profile/"+((Lib.Tools.BO.ItemBase)Model).CreatedBy.Id.ToString())">@(((Lib.Tools.BO.ItemBase)Model).CreatedBy != null ? ((Lib.Tools.BO.ItemBase)Model).CreatedBy.Login : "")</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="btn-control-container">
                @if ((bool)ViewData["AllowCRUD"] && Lib.Tools.Security.Authentication.GetCurrentUser().HasAtLeastOnePermission(BOProperties.EditAccess))
                {
                <button class="btn btn-info" onclick="edit_item()"><i class="fa fa-edit"></i> @SecurityCRM.Helpers.T.Str("Edit", "FrontEnd", "Edit")</button>
                    <div class="btn-group btn-save">
                        <button type="button" onclick="save_item(@(((Lib.Tools.BO.ItemBase)Model).Id))" class="btn btn-success"><i class="fa fa-save"></i> @SecurityCRM.Helpers.T.Str("Save", "FrontEnd", "Save")</button>
                        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#" onclick="return save_and_close_item(@(((Lib.Tools.BO.ItemBase)Model).Id),'@(ViewData["Back_Link"])')"> @SecurityCRM.Helpers.T.Str("SaveClose", "FrontEnd", "Save and close")</a></li>
                    </div>
                }
                @if ((bool)ViewData["AllowCRUD"] && Lib.Tools.Security.Authentication.GetCurrentUser().HasAtLeastOnePermission(BOProperties.DeleteAccess))
                {
                    <button class="btn btn-danger" onclick="delete_item(@(((Lib.Tools.BO.ItemBase)Model).Id),'@(((Lib.Tools.BO.ItemBase)Model).GetName())','@(ViewData["Back_Link"])')"><i class="fa fa-trash-o"></i> @SecurityCRM.Helpers.T.Str("Delete", "FrontEnd", "Delete")</button>
                }
                @if ((bool)ViewData["AllowCRUD"] && BOProperties.AllowCopy && Lib.Tools.Security.Authentication.GetCurrentUser().HasAtLeastOnePermission(BOProperties.CopyAccess))
                {
                    <button class="btn btn-success" onclick="copy_item(@(((Lib.Tools.BO.ItemBase)Model).Id),'@(((Lib.Tools.BO.ItemBase)Model).GetName())')"><i class="fa fa-clone"></i> @SecurityCRM.Helpers.T.Str("Clone", "FrontEnd", "Clone")</button>
                }
                @if (Lib.Tools.Security.Authentication.GetCurrentUser().HasAtLeastOnePermission(BOProperties.PrintAccess))
                {
                    <button class="btn btn-default" onclick="print_item(@(((Lib.Tools.BO.ItemBase)Model).Id))"><i class="fa fa-print"></i> @SecurityCRM.Helpers.T.Str("Print", "FrontEnd", "Print")</button>
                }
                @if (Lib.Tools.Security.Authentication.GetCurrentUser().HasAtLeastOnePermission(BOProperties.ExportAccess))
                {
                    <div class="btn-group btn-export">
                        <button type="button" class="btn btn-primary"><i class="fa fa-download"></i> @SecurityCRM.Helpers.T.Str("Export", "FrontEnd", "Export")</button>
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#"><i class="fa fa-file-excel-o"></i> Excell</a></li>
                            <li><a href="#"><i class="fa fa-file-text-o"></i> Csv</a></li>
                            @*<li><a href="#"><i class="fa fa-file-pdf-o"></i> Pdf</a></li>*@
                        </ul>
                    </div>
                }
                @if ((bool)ViewData["AllowCRUD"] && Lib.Tools.Security.Authentication.GetCurrentUser().HasAtLeastOnePermission(BOProperties.ImportAccess))
                {
                    <div class="btn-group btn-import">
                        <button type="button" class="btn btn-warning"><i class="fa fa-file-excel-o"></i> @SecurityCRM.Helpers.T.Str("Import", "FrontEnd", "Import")</button>
                        <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#"><i class="fa fa-file-excel-o"></i> Excell</a></li>
                            <li><a href="#"><i class="fa fa-file-text-o"></i> Csv</a></li>
                        </ul>
                    </div>
                }
            </div>
        </div><!-- /.box-body -->
    </div>
</section>
@if ((bool)ViewData["AllowCRUD"] && Lib.Tools.Security.Authentication.GetCurrentUser().HasAtLeastOnePermission(BOProperties.RevisionsAccess) && BOProperties.LogRevisions)
{
    <section class="content-header" style="margin-top: -30px;">
        <h1>
            @SecurityCRM.Helpers.T.Str("Revision", "FrontEnd", "Revision")
            <small>
                @(BOProperties.DisplayName)
                :
                @(((Lib.Tools.BO.ItemBase)Model).GetName())
            </small>
        </h1>
    </section>

    <section class="content">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <!-- The time line -->
                <ul class="timeline">
                    @{var counter = 0;}
                    @foreach (var revisionDay in ((Dictionary<DateTime, List<Lib.Tools.Revisions.Revision>>)ViewData["Revisions"]).Values)
                    {
                        counter++;
                        <li class="time-label">
                            <span class="bg-@(counter == ((Dictionary<DateTime, List<Lib.Tools.Revisions.Revision>>)ViewData["Revisions"]).Count ? "red" : "green")">
                                @(revisionDay.First(d => d.Id > 0).Date.ToString("dd MMM yyyy"))
                            </span>
                        </li>
                        foreach (var revision in revisionDay)
                        {
                            <li>
                                <i class="fa fa-@(revision.Icon) bg-@(revision.Color)"></i>
                                <div class="timeline-item">
                                    <span class="time"><i class="fa fa-clock-o"></i> @(revision.Date.ToString("HH:mm:ss"))</span>
                                    <h3 class="timeline-header no-border"><a href="@Lib.Tools.Utils.URLHelper.GetUrl("ControlPanel/Profile/" + revision.User.Id.ToString())">@(revision.User.Login)</a> @(revision.Comment)</h3>
                                </div>
                            </li>
                        }
                    }
                </ul>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </section>
}
@Html.Partial("../Controls/ControlPanel/_deletedialog")
@Html.Partial("../Controls/ControlPanel/_alertdialog")
@Html.Partial("../Controls/ControlPanel/_clonedialog")